# Ignora TUDO dentro de libraries/
libraries/*

# Libera SOMENTE as suas pastas (uma linha para cada)
!libraries/MinhaLib_Sensor_IMU/
!libraries/MinhaLib_Sensor_Ultra/

# Garante que os arquivos DENTRO das pastas liberadas sejam incluídos
!libraries/MinhaLib_Sensor_IMU/**
!libraries/MinhaLib_Sensor_Ultra/**