# Ignora todos as pastas e subpastas dentro de libraries/
*

# Libera somene as pastas de bibliotecas do robô
SanjaTronicGiroscopio/
SanjaTronicLasers/
SanjaTronicMotores/
SanjaTronicMultiplexI2C/
SanjaTronicSensorCor/

# Garante que os arquivos DENTRO das pastas liberadas sejam incluídos
!SanjaTronicGiroscopio/**
!SanjaTronicLasers/**
!SanjaTronicMotores/**
!SanjaTronicMultiplexI2C/**
!SanjaTronicSensorCor/**